<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>PANDAについて</h2>
    </div>
  </div>
  <%= link_to image_tag("icon.png", class:"logo-white"), "#" %>
  <p>PANDA</p>
</div>