.record-btn {
  width: 120px;
  background: #0EAC0E;
  text-align: center;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  border-radius: 50%;
}

.record-btn:hover{
  background-color: rgba(14, 172, 29, 0.37);
  color: #0EAC1D;
}

.record-btn:hover .record-btn-text {
  color: #0EAC1D;
}

.record-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.record-btn-icon {
  width: 60%;
}
